/* 헤더의 스타일 */
.container header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
  }
  
  .nav-pills .nav-link {
    color: #000;
    font-weight: bold;
  }
  
  .nav-pills .nav-link.active {
    background-color: #007bff;
    color: #fff;
  }
  
  /* 버튼의 스타일 */
  .login_button,
  .join_button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login_button:hover,
  .join_button:hover {
    background-color: #0056b3;
  }
  
  /* 메인 콘텐츠의 스타일 */
  main {
    text-align: center;
    margin-top: 20px;
  }
  
  /* 폼의 스타일 */
  form[name="stipulation_form"] {
    display: none;
  }
  